
.welcome-section {
    padding: var(--section-padding-td);
}

.carousel {
    background: linear-gradient(175deg, white 65%, var(--color-cyan) 35%);
}
.customers {
    padding: var(--section-padding-td);
}
.destinations {
    padding: var(--section-padding-td);
}