.service-card {
    width: 100%;
}

.service-card img {
    width: 100%;
}
.service-card-desc a {
    text-decoration: none;
    color: black;
    transition: color .2s;
}
.service-card-desc a:hover {
    color: #ffb600;
}
@media (min-width: 768px){
    .service-card-md {
        width: 18rem;
    }
}